In [0]:
data = [
    ("Pracownik A", "IT", 12000),
    ("Pracownik B", "KS", 15000),
    ("Pracownik C", "MK", 9000),
    ("Pracownik A", "IT", 12000),
    ("Pracownik B", "KS", 15000),
    ("Pracownik C", "MK", 8000),
    ("Pracownik D", "IT", 8000),
    ("Pracownik E", "IT", 8000),
]
df = spark.createDataFrame(data, ["name","dep","salary"])
display(df)

name,dep,salary
Pracownik A,IT,12000
Pracownik B,KS,15000
Pracownik C,MK,9000
Pracownik A,IT,12000
Pracownik B,KS,15000
Pracownik C,MK,8000
Pracownik D,IT,8000
Pracownik E,IT,8000

In [0]:
display( df.distinct() )

name,dep,salary
Pracownik A,IT,12000
Pracownik B,KS,15000
Pracownik C,MK,9000
Pracownik C,MK,8000
Pracownik E,IT,8000
Pracownik D,IT,8000

In [0]:
display( df.select("dep","salary").distinct() )

dep,salary
KS,15000
IT,12000
MK,9000
MK,8000
IT,8000

In [0]:
display( df.drop_duplicates() )

name,dep,salary
Pracownik A,IT,12000
Pracownik B,KS,15000
Pracownik C,MK,9000
Pracownik C,MK,8000
Pracownik E,IT,8000
Pracownik D,IT,8000

In [0]:
display( df.drop_duplicates(subset=["dep","salary"]) )

name,dep,salary
Pracownik D,IT,8000
Pracownik A,IT,12000
Pracownik B,KS,15000
Pracownik C,MK,8000
Pracownik C,MK,9000

In [0]:
# por√≥wnanie deduplikacji z Pandas
dfp = df.toPandas()

In [0]:
dfp[ ~dfp.duplicated() ]

,name,dep,salary
0,Pracownik A,IT,12000
1,Pracownik B,KS,15000
2,Pracownik C,MK,9000
5,Pracownik C,MK,8000
6,Pracownik D,IT,8000
7,Pracownik E,IT,8000

In [0]:
dfp

,name,dep,salary
0,Pracownik A,IT,12000
1,Pracownik B,KS,15000
2,Pracownik C,MK,9000
3,Pracownik A,IT,12000
4,Pracownik B,KS,15000
5,Pracownik C,MK,8000
6,Pracownik D,IT,8000
7,Pracownik E,IT,8000

In [0]:
df_tmp = dfp.drop_duplicates(keep='first', subset="name").set_index("name")
df_tmp

,dep,salary
name,,
Pracownik A,IT,12000
Pracownik B,KS,15000
Pracownik C,MK,9000
Pracownik D,IT,8000
Pracownik E,IT,8000

In [0]:
df_tmp.loc[ ["Pracownik B","Pracownik E"] ]

,dep,salary
name,,
Pracownik B,KS,15000
Pracownik E,IT,8000

In [0]:
df_tmp.iloc[ [1,4] ]

,dep,salary
name,,
Pracownik B,KS,15000
Pracownik E,IT,8000

In [0]:
dfp.drop_duplicates(keep='first', subset="name", ignore_index=True)

,name,dep,salary
0,Pracownik A,IT,12000
1,Pracownik B,KS,15000
2,Pracownik C,MK,9000
3,Pracownik D,IT,8000
4,Pracownik E,IT,8000